:root {
  --fontFamilyNormal: 'PT Root UI VF', -apple-system, sans-serif;
  --fontFamilyMonospace: Menlo, Monaco, Consolas, monospace;
}

body {
  margin: 0;
  font-family: var(--fontFamilyNormal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--fontFamilyMonospace);
}
